$white: #ffffff;
$dark-blue: #041e41;
$green: #00965e;
$green-background: #1B7700;
$yellow: rgba(255, 193, 7, 0.75);
$red: rgba(237, 28, 36, 0.75);
$gray: #00000061;
$footer-gray: #b9b9b9;
$shadow: #00000059;
$nav-btn-color: #7a7a7a;
$sidebar-gray: #e0e0e0;
$sidebar-blue: #009abe;
$black: #000000;
